{% load static%}

<!doctype html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'league/css/pico/pico.min.css' %}">
    <title>League App</title>
    {% block header %}
    {% endblock %}
</head>

<body>
    <nav>
        <ul>
            <li><a href="/"><strong>FL</strong></a></li>
        </ul>
        <ul>
            {% if request.user.is_authenticated %}
            <li><a href="/accounts/profile">{{user}} is active</a></li>
            {% else %}
            <li><a href="/accounts/signup">SignUp</a></li>
            <li><a href="/accounts/login">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
    <main class="container">
        {% block container %}
        {% endblock %}
    </main>
</body>

</html>